/.idea/*
/.idea/
/.idea
/out
/out/*
/out/production/Interview/
/*.iml
.DS_Store
src/com/interview/sde/.DS_Store
/src/com/interview/sde/scala/project/
/src/com/interview/sde/scala/target/
/src/com/interview/sde/scala/build.sbt
/src/com/interview/sde/scala/project/target/config-classes/
/src/com/interview/sde/scala/.bsp/sbt.json
/target/global-logging/
/scala/.idea/modules/
